* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

header {
    background-color: #1F2937;
    color: white;
    height: 100px;
}

.darktop {
    background-color: #1F2937;
    height: 500px;
    color: white;
}

.random {
    background-color: white;
    height: 500px;
    color: white;
}

.quote {
    background-color: #E5E7EB;
    height: 500px;
    color: white;
}

.bottom {
    background-color: white;
    height: 500px;
    color: white;
}

footer {
    background-color: #1F2937;
    height: 100px;
}